@font-face {
    font-family: 'Euro';
    src: url('../font/Eurostile Extended Regular.ttf') format('truetype');
}

h2 {
    font-family: 'Euro';
}

body {
    padding-top: 70px;
}

.articles {
   height: 90%;
}

