@font-face {
    font-family: 'Euro';
    src: url('../font/Eurostile Extended Regular.ttf') format('truetype');
}

h1 {
    font-family: 'Euro';
}

body {
    background-color: rgba(179, 179, 179, 0.1);
    padding-top: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.articles {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.articles > ul {
    margin: 2%;
    list-style-type: none; 
}

.articles > li {
    display: flex;
    flex-direction: column;
}


#title {
    text-decoration: none;
}


#description {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

#textu {
    display: flex;
    flex-direction: column;
    gap: 5%;
}
