@font-face {
    font-family: 'Euro';
    src: url('../font/Eurostile Extended Regular.ttf') format('truetype');
}

h1 {
    font-family: 'Euro';
}

body {
    padding-top: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.articles {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.articles>ul {
    margin: 2%;
    list-style-type: none;
}

.articles>li {
    display: flex;
    flex-direction: column;
}


#title {
    text-decoration: none;
}


#description {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#textu {
    display: flex;
    justify-content: center;
}

.categorie-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.titre-categorie {
    font-size: 50px;
}

.titre-article {
    text-transform: uppercase;
    text-transform: none;
    color: black;
}

.article-all a {
    margin-left: 50px;
    margin-right: 50px;
    background-color: aqua;
    display: flex;
    align-items: center;
}

.img-article {
    width: 250px;
    height: 250px;
    overflow: hidden;
    background-color: blueviolet;
}

.img-article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
