* {
    padding: 0;
    margin: 0;
}

.img-header {
    width: 100%;
}

.img-header img {
    width: 100%;
}

body {
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

body .caca{
    display: flex;
    justify-content: flex-end;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    float: left;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

header ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li a:hover {
    background-color: #e2e2e2;
    color: rgb(255, 77, 0);
}

header ul li ul li {
    background-color: #fff;
    display: none;
}

header ul li:hover ul li {
    background-color: #ffffff;
    display: block;
}

.recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190%;
}

.input {
    width: 100%;
    height: 30px;
    width: 350px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(247, 127, 0, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.caca {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    z-index: 1000;
}

.footer {
    color: #fff;
    background-color: rgb(95, 95, 95);
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.liens-footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-transform: none;
}

.liens-footer a {
    color: #dadada;
    margin: 5px;

}

.liens-footer a:hover {
    color: #fff;
    text-transform: none;
    text-decoration: underline;
}

.titre-footer {
    font-weight: bold;
    margin: 10px;
}

.perso-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Produit-par {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barre-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #0d0c22;
    width: 45%;
}

.elle-casse-tout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}