{{define "admin"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Administration</title>
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body>
    <h1>Page d'administration</h1>
    </body>
    </html>
{{end}}
