{{define "newarticle"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Ajouter un article</title>
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body>
    <h1>Ajouter un article</h1>
    </body>
    </html>
{{end}}
