{{define "newarticle"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Ajouter un article</title>
    <link href="http://localhost:8080/static/css/header.css" rel="stylesheet">
    <link href="http://localhost:8080/static/css/ajout.css" rel="stylesheet">
</head>

<body>
    <div class="elle-casse-tout">
        <header>
            <div class="navbar">
                <div class="bouton-navbar">
                    <ul>
                        <li><a href="/accueil">Accueil</a></li>
                        <li><a> Catégories</a>
                            <ul>
                                <li><a href="/categorie?categorie=nouveautes">Nouveauté</a></li>
                                <li><a href="/categorie?categorie=esport">E-Sport</a></li>
                                <li><a href="/categorie?categorie=presentations">Présentation</a></li>
                            </ul>
                        </li>
                        <li><a href="/admin">Admin
                            </a></li>
                    </ul>
                </div>
                <div class="logo-navbar">
                    <img src="http://localhost:8080/static/images/octo.png" alt="" width="120px" height="50px">
                </div>
                <div class="recherche">
                    <div class="group">
                        <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
                            <g>
                                <path
                                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                </path>
                            </g>
                        </svg>
                        <form action="/result" method="get">
                            <input class="input" type="search" name="content" placeholder="Rechercher" />
                        </form>
                    </div>
                </div>
                <div class="bouton-navbar">
                    <ul>
                        <li><a> Compte</a>
                            <ul>
                                <li><a href="/deconnexion">Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="barre-header">
            </div>
        </header>
        <section class="categorie-global">
            <div class="nom-categorie">
                <h1 class="nom">Ajouter un article</h1>
            </div>
            <div class="ajout-global">
                <form id="ajoute_article" action="http://localhost:8080/submit" method="POST"
                    enctype="multipart/form-data">
                    <div class="choix">
                        <label for="categorie">Catégorie :</label>
                        <div class="wrapper-dfdf">
                            <div class="btn-gtgt">
                                <select class="categorie" name="categorie">
                                    <option value="Nouveautés" class="span-s">Nouveautés</option>
                                    <option value="Esport" class="span-s">E-sport</option>
                                    <option value="Présentations" class="span-s">Présentation</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="titre">
                        <label for="titre">Titre : </label>
                        <input class="input-titre" placeholder="TITRE" type="text" id="titre" name="titre">
                    </div>
                    <div class="intro">
                        <label for="intro">Introduction : </label>
                        <textarea class="input-intro" placeholder="INTRODUCTION" id="intro" name="intro" rows="4"
                            cols="50"></textarea>
                    </div>
                    <div class="contenu">
                        <label for="contenu">Contenu : </label>
                        <textarea class="input-contenue" placeholder="CONTENUE DE L'ARTICLE" id="contenu" name="contenu"
                            rows="4" cols="50"></textarea>
                    </div>
                    <div class="auteur">
                        <label for="auteur">Auteur : </label>
                        <input class="input-auteur" placeholder="AUTEUR" type="text" id="auteur" name="auteur">
                    </div>

                    <div class="image">
                        <label for="image" class="custum-file-upload">
                            <div class="icon-ss">
                                <svg viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                    </g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                                            fill=""></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="text">
                                <span>Click pour télécharger une image</span>
                                <input type="file" id="image" name="image" accept="image/*">
                            </div>
                        </label>
                    </div>
                    <button class="button">
                        <input type="submit" value="Ajouter">
                    </button>
                </form>
            </div>
        </section>
        <footer>
            <div class="footer">
                <div class="Produit-par">
                    <div class="titre-footer">
                        <p>Produit par : </p>
                    </div>
                    <div class="perso-footer">
                        <p>Enzo Carbonara</p>
                        <p>Romain GOUDERGUES</p>
                        <p>Fabio VINCENTELLI</p>
                        <p>Kantin FAGNIART</p>
                    </div>
                </div>
                <div class="logo-footer">
                    <img src="http://localhost:8080/static/images/logo.png" alt="" width="50px" height="50px">
                </div>
                <div class="liens-footer">
                    <a href="/repartition">
                        Répartition des tâches de l'équipe
                    </a>
                    <a href="/explication">
                        Explication du thème
                    </a>
                    <a href="/mentions_legales">
                        Mentions Légales
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
{{end}}