{{define "article"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Article</title>
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body>
    <h1>Article n°</h1>
    </body>
    </html>
{{end}}
