{{define "article"}}
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{{.Data.Article.Titre}}</title>
    <link href="http://localhost:8080/static/css/header.css" rel="stylesheet">
    <link href="http://localhost:8080/static/css/article.css" rel="stylesheet">
</head>

<body>
    <div class="elle-casse-tout">
        <header>
            <div class="navbar">
                <div class="bouton-navbar">
                    <ul>
                        <li><a href="/accueil">Accueil</a></li>
                        <li><a> Catégories</a>
                            <ul>
                                <li><a href="/categorie?categorie=nouveautes">Nouveauté</a></li>
                                <li><a href="/categorie?categorie=esport">E-Sport</a></li>
                                <li><a href="/categorie?categorie=presentations">Présentation</a></li>
                            </ul>
                        </li>
                        <li><a href="/admin">Admin
                            </a></li>
                    </ul>
                </div>
                <div class="logo-navbar">
                    <img src="http://localhost:8080/static/images/Image-impotante/octo.png" alt="" width="120px"
                        height="50px">
                </div>
                <div class="recherche">
                    <div class="group">
                        <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
                            <g>
                                <path
                                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                </path>
                            </g>
                        </svg>
                        <form action="/result" method="get">
                            <input class="input" type="search" name="content" placeholder="Rechercher" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="barre-header">
            </div>
        </header>
        <section class="global-article">
            <div class="image-article">
                <img src="http://localhost:8080/static/images/{{.Article.Image}}" alt="Image de l'article">
            </div>
            <div class="articles-22">
                <div class="titre-articles">
                    <h1>{{.Article.Titre}}</h1>
                </div>
                <div class="articles-corp">
                    <div class="intro-articles">
                        <p>{{.Article.Intro}}</p>
                    </div>
                    <div class="corps-article">
                        <p>{{.Article.Body}}</p>
                    </div>
                </div>
                <div class="auteur-articles">
                    <p>Auteur: {{.Article.Auteur}}</p>
                    <p>Date: {{.Article.Date}}</p>
                </div>
            </div>

        </section>
        <footer>
            <div class="footer">
                <div class="Produit-par">
                    <div class="titre-footer">
                        <p>Produit par : </p>
                    </div>
                    <div class="perso-footer">
                        <p>Enzo Carbonara</p>
                        <p>Romain GOUDERGUES</p>
                        <p>Fabio VINCENTELLI</p>
                        <p>Kantin FAGNIART</p>
                    </div>
                </div>
                <div class="logo-footer">
                    <img src="http://localhost:8080/static/images/Image-impotante/logo.png" alt="" width="50px"
                        height="50px">
                </div>
                <div class="liens-footer">
                    <a href="">
                        Répartition des tâches de l'équipe
                    </a>
                    <a href="">
                        Explication du thème
                    </a>
                    <a href="/mentions_legales">
                        Mention Légal
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
{{end}}