{{define "categorie"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Catégorie</title>
        <link href="/static/main.css" rel="stylesheet">
    </head>
    <body>
    <h1>Page de catégorie</h1>
    </body>
    </html>
{{end}}
