{{define "index"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Spotify API</title>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Page d'accueil</h1>
    </body>
    </html>
{{end}}
