{{define "mailverif"}}
<html>
<head>
    <title>Vérification du code</title>
    <link rel="stylesheet" href="http://localhost:8080/static/css/mail-verif.css">
</head>
<body>
{{ if not .Success }}
<p style="color: red;">{{ .Message }}</p>
{{ end }}
<form action="/verifycode" method="post">
    <div class="wrapper">
        <div class="card-switch">
            <label class="switch">
                <div class="flip-cardinner">
                    <div class="flip-cardfront">
                        <div class="title">Vérification code e-mail</div>
                        <form action="" class="flip-cardform">
                            <input type="text" placeholder="Code" id="verificationCode" name="verificationCode" class="flip-cardinput" required>
                            <button class="flip-card__btn">Envoyer !</button>
                        </form>
                    </div>
                </div>
            </label>
        </div>
    </div>
</form>
</body>
</html>
{{end}}
