{{define "mailverif"}}
<html>
<head>
    <title>Vérification du code</title>
    <link rel="stylesheet" href="http://localhost:8080/static/css/mail-verif.css">
</head>
<body>
{{ if not .Success }}
<p style="color: red;">{{ .Message }}</p>
{{ end }}
<form action="/verifycode" method="post">
    <div class="wrapper">
        <div class="card-switch">
            <label class="switch">
                <div class="flip-card__inner">
                    <div class="flip-card__front">
                        <div class="title">Vérification e-mail</div>
                        <form action="/login_credits" class="flip-card__form" method="post">
                            <input type="text" placeholder="Code de vérification" name="verificationCode" class="flip-card__input">
                            <button class="flip-card__btn">Vérifier !</button>
                        </form>
                    </div>
                </div>
            </label>
        </div>
    </div>
</form>
</body>
</html>
{{end}}
