{{define "mentions"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="http://localhost:8080/static/css/header.css">
    <link rel="stylesheet" href="http://localhost:8080/static/css/mention.css">
</head>

<body>
    <div class="elle-casse-tout">
        <header>
            <div class="navbar">
                <div class="bouton-navbar">
                    <ul>
                        <li><a href="/accueil">Accueil</a></li>
                        <li><a> Catégories</a>
                            <ul>
                                <li><a href="/categorie?categorie=nouveautes">Nouveauté</a></li>
                                <li><a href="/categorie?categorie=esport">E-Sport</a></li>
                                <li><a href="/categorie?categorie=presentations">Présentation</a></li>
                            </ul>
                        </li>
                        {{if .AsAdmin}}
                        <li><a href="/admin">Admin</a></li>
                        {{else}}
                        {{if not .IsLoggedIn}}
                        <li><a href="/login">Se connecter</a></li>
                        {{end}}
                        {{end}}
                    </ul>
                </div>
                <div class="logo-navbar">
                    <img src="http://localhost:8080/static/images/octo.png" alt="" width="120px" height="50px">
                </div>
                <div class="recherche">
                    <div class="group">
                        <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
                            <g>
                                <path
                                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                </path>
                            </g>
                        </svg>
                        <form action="/result" method="get">
                            <input class="input" type="search" name="content" placeholder="Rechercher" />
                        </form>
                    </div>
                </div>
                {{if .IsLoggedIn}}
                <div class="bouton-navbar">
                    <ul>
                        <li><a> Compte</a>
                            <ul>
                                <li><a href="/deconnexion">Déconnexion</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {{end}}
            </div>
            <div class="barre-header"></div>
        </header>
        <section class="global">
            <div class="supra">
                <div class="titre-global">
                    <h1>Mentions Légales</h1>
                </div>
                <div class="elements-global">
                    <div class="titre">
                        <h2>Informations sur l'entreprise</h2>
                    </div>
                    <div class="elements-rep">
                        <div class="contenue-element">
                            <p>Nom de l'entreprise : Octo-Games</p>
                        </div>
                        <div class="contenue-element">
                            <p>Adresse du siège social : 2 Rue le Corbusier, 13090 Aix-en-Provence</p>
                        </div>
                        <div class="contenue-element">
                            <p>Numéro de téléphone : 06.68.97.24.59</p>
                        </div>
                        <div class="contenue-element">
                            <p>Adresse e-mail : octogamesverify@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="elements-global">
                    <div class="titre">
                        <h2>Numéro d'identification</h2>
                    </div>
                    <div class="elements-rep">
                        <div class="contenue-element">
                            <p>SIREN : 123 456 789</p>
                        </div>
                    </div>
                </div>
                <div class="elements-global">
                    <div class="titre">
                        <h2>Politique de Confidentialité</h2>
                    </div>
                    <div class="elements-rep">
                        <div class="contenue-element">
                            <p>Dernière mise à jour : 11 Janvier 2024 </p>
                        </div>
                        <div class="contenue-element">
                            <p>Bienvenue sur Octo-Games !</p>
                        </div>
                        <div class="contenue-element">
                            <p>La présente Politique de Confidentialité a pour but de vous informer sur la manière dont
                                nous recueillons, utilisons, partageons et protégeons vos informations personnelles
                                lorsque vous utilisez notre site, conformément aux lois
                                applicables en matière de protection des données.</p>
                        </div>
                        <div class="titres">
                            <h2>Collecte des Informations</h2>
                        </div>
                        <div class="contenue-element">
                            <p>Lorsque vous utilisez Octo-Games, nous pouvons collecter les types d'informations
                                suivants :</p>
                        </div>
                        <div class="contenue-elements">
                            <p> Informations personnelles :</p>
                            <div class="li">
                                <li>Adresse e-mail</li>
                                <li>Pseudonymes</li>
                            </div>
                        </div>
                        <div class="contenue-elements">
                            <p>Informations de connexion :</p>
                            <div class="li">
                                <li>Adresse IP</li>
                                <li>données de connexion</li>
                            </div>
                        </div>
                        <div class="titres">
                            <h2>Utilisation des Informations</h2>
                        </div>
                        <div class="contenue-element">
                            <p> Nous utilisons les informations collectées pour :</p>
                        </div>
                        <div class="contenue-element">
                            <p>Fournir, exploiter et améliorer nos services. </p>
                        </div>
                        <div class="contenue-element">
                            <p>Personnaliser votre expérience. </p>
                        </div>
                        <div class="contenue-element">
                            <p>Communiquer avec vous, notamment pour répondre à vos demandes. </p>
                        </div>
                        <div class="contenue-element">
                            <p>Analyser l'utilisation de notre site. </p>
                        </div>
                        <div class="titres">
                            <h2>Partage des Informations</h2>
                        </div>
                        <div class="contenue-element">
                            <p>Nous ne partageons pas vos informations personnelles avec des tiers, sauf dans les cas
                                suivants : </p>
                        </div>
                        <div class="contenue-element">
                            <p>Avec votre consentement. </p>
                        </div>
                        <div class="contenue-element">
                            <p>Pour satisfaire à des obligations légales. </p>
                        </div>
                        <div class="contenue-element">
                            <p>Pour protéger nos droits, votre sécurité ou celle d'autrui.</p>
                        </div>
                        <div class="titres">
                            <h2>Sécurité</h2>
                        </div>
                        <div class="contenue-element">
                            <p>Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles
                                contre tout accès non autorisé, toute divulgation, toute altération et toute
                                destruction. </p>
                        </div>
                        <div class="titres">
                            <h2>Modifications de la Politique de Confidentialité</h2>
                        </div>
                        <div class="contenue-element">
                            <p>Nous nous réservons le droit de mettre à jour cette Politique de Confidentialité à tout
                                moment. La date de la dernière mise à jour sera indiquée en haut du document. </p>
                        </div>
                        <div class="titres">
                            <h2>Contactez-nous</h2>
                        </div>
                        <div class="contenue-element">
                            <p>Si vous avez des questions concernant cette Politique de Confidentialité, veuillez nous
                                contacter à octogamesverify@gmail.com.</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer">
                    <div class="Produit-par">
                        <div class="titre-footer">
                            <p>Produit par : </p>
                        </div>
                        <div class="perso-footer">
                            <p>Enzo Carbonara</p>
                            <p>Romain GOUDERGUES</p>
                            <p>Fabio VINCENTELLI</p>
                            <p>Kantin FAGNIART</p>
                        </div>
                    </div>
                    <div class="logo-footer">
                        <img src="http://localhost:8080/static/images/logo.png" alt="" width="50px" height="50px">
                    </div>
                    <div class="liens-footer">
                        <a href="/repartition">
                            Répartition des tâches de l'équipe
                        </a>
                        <a href="/explication">
                            Explication du thème
                        </a>
                        <a href="/mentions_legales">
                            Mentions Légales
                        </a>
                    </div>
                </div>
            </footer>
    </div>
</body>

</html>
{{end}}